body {
  background: #3b6cb7;
  background: -webkit-linear-gradient(to right, #3b6cb7, #a17ad8);
  background: linear-gradient(to right, #3b6cb7, #a17ad8);
}
.footer {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
